<html>
	<head>
	<link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" crossorigin="anonymous">

	</head>
	<body>
	<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h4 class="display-4">Smarthphones 03/07/2021
</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">iPhone 13 Pro Max</h5>
                                <p class="font-italic text-muted mb-0 small">Marca: Apple | Tamanho da Tela: 6,7 pol.</p>
                                <p class="font-italic text-muted mb-0 small">Cor: Azul-Sierra | Processador: 2x 3.22 GHz Avalanche + 4x 1.82 GHz Blizzard</p>
                                <p class="font-italic text-muted mb-0 small">Memoria RAM: 6 GB | Espaco Interno: 1 TB</p>
                                <p class="font-italic text-muted mb-0 small">Data de Lancamento: 2021/3</p>

                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">R$ 13.639,12</h6>
                                </div>
                            </div><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-13-family-select-2021?wid=940&hei=1112&fmt=jpeg&qlt=80&.v=1629842667000
" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div> <!-- End -->
                    </li> <!-- End -->
                
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">iPhone 12 Mini</h5>
                                <p class="font-italic text-muted mb-0 small">Marca: Apple | Tamanho da Tela: 6,06 pol.</p>
                                <p class="font-italic text-muted mb-0 small">Cor: Rosa | Processador: 1x 2.12 GHz Avalanche + 3x 1.84 GHz Blizzard</p>
                                <p class="font-italic text-muted mb-0 small">Memoria RAM: 6 GB | Espaco Interno: 64 GB</p>
                                <p class="font-italic text-muted mb-0 small">Data de Lancamento: 2020/2</p>

                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">R$ 11.629,12</h6>
                                </div>
                            </div><img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-12-family-select-2021?wid=940&hei=1112&fmt=jpeg&qlt=80&.v=1617135051000
" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div> <!-- End -->
                    </li> <!-- End -->
                
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">iPhone 11</h5>
                                <p class="font-italic text-muted mb-0 small">Marca: Apple | Tamanho da Tela: 6,3 pol.</p>
                                <p class="font-italic text-muted mb-0 small">Cor: Preto-Sierra | Processador: 1.5x 4.32 GHz Avalanche + 2x 1.84 GHz Blizzard</p>
                                <p class="font-italic text-muted mb-0 small">Memoria RAM: 4 GB | Espaco Interno: 256 GB</p>
                                <p class="font-italic text-muted mb-0 small">Data de Lancamento: 2019/4</p>

                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">R$ 9.629,12</h6>
                                </div>
                            </div><img src="https://images-americanas.b2w.io/produtos/01/00/img/1614132/3/1614132366_1GG.jpg
" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div> <!-- End -->
                    </li> <!-- End -->
                
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">Galaxy S21 Ultra</h5>
                                <p class="font-italic text-muted mb-0 small">Marca: Samsung | Tamanho da Tela: 6,8 pol.</p>
                                <p class="font-italic text-muted mb-0 small">Cor: Prateado | Processador: 1x Cortex-X1 2.9 GHz + 3x Cortex-A78 2.8GHz + 4x Cortex-A55 2.2 GHz</p>
                                <p class="font-italic text-muted mb-0 small">Memoria RAM: 16 GB | Espaco Interno: 512 GB</p>
                                <p class="font-italic text-muted mb-0 small">Data de Lancamento: 2021/1</p>

                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">R$ 5.399,99</h6>
                                </div>
                            </div><img src="https://images-submarino.b2w.io/produtos/01/00/img/2810434/6/2810434628_1SZ.jpg
" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div> <!-- End -->
                    </li> <!-- End -->
                
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">Galaxy Z Fold3</h5>
                                <p class="font-italic text-muted mb-0 small">Marca: Samsung | Tamanho da Tela: 7,6 pol.</p>
                                <p class="font-italic text-muted mb-0 small">Cor: Preto | Processador: 1x 2.84 GHz Kryo 680 + 3x 2.42 GHz Kryo 680 + 4x 1.80 GHz Kryo 680</p>
                                <p class="font-italic text-muted mb-0 small">Memoria RAM: 12 GB | Espaco Interno: 512 GB</p>
                                <p class="font-italic text-muted mb-0 small">Data de Lancamento: 2021/3</p>

                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">R$ 11.903,99</h6>
                                </div>
                            </div><img src="https://images-submarino.b2w.io/produtos/3925312241/imagens/smartphone-samsung-galaxy-z-fold3-5g-dobravel-256gb-12gb-de-ram-tela-de-7-6/3925312276_1_xlarge.jpg
" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div> <!-- End -->
                    </li> <!-- End -->
                
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">Galaxy S21 Plus</h5>
                                <p class="font-italic text-muted mb-0 small">Marca: Samsung | Tamanho da Tela: 6,7 pol.</p>
                                <p class="font-italic text-muted mb-0 small">Cor: Branco | Processador: 1x Cortex-X1 2.9 GHz + 3x Cortex-A78 2.8GHz + 4x Cortex-A55 2.2 GHz</p>
                                <p class="font-italic text-muted mb-0 small">Memoria RAM: 8 GB | Espaco Interno: 256 GB</p>
                                <p class="font-italic text-muted mb-0 small">Data de Lancamento: 2021/1</p>

                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">R$ 4.227,99</h6>
                                </div>
                            </div><img src="https://images-submarino.b2w.io/produtos/01/00/img/2826495/7/2826495759_1SZ.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div> <!-- End -->
                    </li> <!-- End -->
                
            </ul> <!-- End -->

            <p class="font-italic text-muted mb-0 small">...</p>

            <li class="list-group-item">
                <!-- Custom content-->
                <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                    <div class="media-body order-2 order-lg-1">
                        <h5 class="mt-0 font-weight-bold mb-2">Totalizadores</h5>
                        <p class="font-italic text-muted mb-0 small">Total Produtos: 6</p>
                        <p class="font-italic text-muted mb-0 small">Produto Mais Barato: R$ 422799</p>
                        <p class="font-italic text-muted mb-0 small">Produto Mais Caro: R$ 1363912</p>
                       
                            <p class="font-italic text-muted mb-0 small">A Media de Preco dos Produtos da Apple: R$ 1163245</p>
                       
                            <p class="font-italic text-muted mb-0 small">A Media de Preco dos Produtos da Samsung: R$ 717732</p>
                       
                    </div>
                </div> <!-- End -->
            </li> <!-- End -->
        </div>
    </div>
</div>
	</body>

</html>