<html>
	<head>
	<link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" crossorigin="anonymous">

	</head>
	<body>
	<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">{{ cabecalho.titulo }} | {{ cabecalho.data }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->

                {% for produto in produtos %}
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">{{ produto.nome }}</h5>
                                <p class="font-italic text-muted mb-0 small">Marca: {{ produto.marca }} | Tamanho da Tela: {{ produto.tamanho_tela }}</p>
                                <p class="font-italic text-muted mb-0 small">Cor: {{ produto.cor }} | Processador: {{ produto.processador }}</p>
                                <p class="font-italic text-muted mb-0 small">Memoria RAM: {{ produto.memoria_ram }} | Espaco Interno: {{ produto.espaco_interno }}</p>
                                <p class="font-italic text-muted mb-0 small">Data de Lancamento: {{ produto.data_lancamento }}</p>

                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">R$ {{ produto.preco }}</h6>
                                </div>
                            </div><img src="{{ produto.url_imagem }}" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                        </div> <!-- End -->
                    </li> <!-- End -->

                {% endfor %}




            </ul> <!-- End -->
            <h5 class="media align-items-lg-center flex-column flex-lg-row p-3">Total de Produtos: {{ total_produtos }}</h5>
            <h5 class="media align-items-lg-center flex-column flex-lg-row p-3">A Media de Preco e: R${{ media }}</h5>
            <h5 class="media align-items-lg-center flex-column flex-lg-row p-3">O Produto mais Barato e: R${{ mais_barato }}</h5>
            <h5 class="media align-items-lg-center flex-column flex-lg-row p-3">O Produto mais Caro e: R${{ mais_caro }}</h5>
        </div>
    </div>
</div>
	</body>

</html>